:root {
    --top: 90%;
}

.checkoutbtn .button {
    background: #2B2D2F;
    height: 80px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: var(--top);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
}

.checkoutbtn .text {
    font: bold 1.25rem/1 poppins;
    color: #71DFBE;
    position: absolute;
    top: 50%;
    transform: translateY(-52%);
    left: 0;
    right: 0;
}

.checkoutbtn .progress-bar {
    position: absolute;
    height: 10px;
    width: 0;
    right: 0;
    top: var(--top);
    left: 50%;
    border-radius: 200px;
    transform: translateY(-50%) translateX(-50%);
    background: #1769b7;
}

.checkoutbtn svg {
    width: 30px;
    position: absolute;
    top: var(--top);
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    right: 0;
}

.checkoutbtn .check {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}
