:root {
    --color-primary: #1c1c1f;
    --color-secondary: #202022;
    --color-tertiary: #1e1e21;
    --color-glass: rgba(31, 31, 31, 0.6);
    --color-scrollbar: #7289da;

    --color-bg: #1a1a1c;
    --color-backdrop: rgba(0, 0, 51, 0.4);

    --color-headline: #dddddd;
    --color-shadow: rgba(0, 0, 0, .4);
    --color-shadow-hover: #36393e;
    --color-shadow-highlight: rgba(33, 0, 255, 0.3);

    --color-dark: #364C62;
    --color-light: #F5F5F5;
    --font-family-primary: "Roboto Mono", monospace;
    --font-family-secondary: "Rubik Mono One", sans-serif;

    --color-font-primary: #ababab;
    --color-font-primary-hover: var(--color-font-primary);
    --color-font-primary-2: var(--color-font-primary);
    --color-font-primary-hover-2: var(--color-font-primary);

    --color-font-secondary: #ffffff;
    --color-font-secondary-hover: #ffffff;
    --color-font-secondary-2: #ffffff;
    --color-font-secondary-hover-2: #ffffff;

    --color-font-highlight: #7289da;
    --color-font-highlight-2: #a46ed4;
    --color-font-highlight-hover: #5d70b1;
    --color-font-highlight-hover-2: #744c94;

    --td: 100ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
    place-items: center;
    height: 180px;
    width: 820px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: var(--color-font-primary);
    background-color: var(--color-bg);
    padding: 15px;
}

.box {
    height: 160px;
    width: 800px;
    padding: 10px;
    background: var(--color-secondary);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .4);
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
}

.img {
    clip-path: circle(55px at 60px -42px);
}

.img-wrap {
    position: relative;
    top: -15px;
    left: 13px;
    filter: drop-shadow(0 .1px 5px rgba(0, 0, 0, .4));
}

.img-wrap img {
    width: 120px;
    height: auto;
}

.name {
    position: absolute;
    top: 170px;
    left: 30px;
    text-align: center;
    width: 160px;
}

.info {
    font-size: 13px;
    top: 0;
    left: 30px;
    position: relative;
    display: table;
    background: var(--color-tertiary);
    padding: 10px;
    border-spacing: 4px;
    border-radius: 10px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .4);
    margin-left: 20px;
    width: 270px;
}

.info a {
    text-decoration-style: solid;
    background: linear-gradient(150deg, var(--color-font-highlight), var(--color-font-highlight-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.infr {
    display: table-row;
    box-shadow: inset 0 0 .5em var(--color-shadow);
    border-radius: 5px;
}

.infc {
    display: table-cell;
    padding: 5px;
}

.info .material-icons {
    font-size: 12px !important;
}