<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <link rel="stylesheet" href="/public/assets/style/info.css">
    <link rel="stylesheet" href="https://weebskingdom.com/assets/style/info.css">
</head>

<body style="height: fit-content">
    <div class="box">
        <div class="img">
            <img src="/public/favicon.ico">
        </div>
        <div class="name">
            <%=name%>
        </div>
        <div class="info">
            <div>
                Level: <a><%=level%></a>
            </div>
            <div>
                XP: <a><%=xp%></a>
            </div>
            <div>
                Weboos: <a><%=weboos%></a>
            </div>
        </div>
    </div>
</body>

</html>